/* The grid: Four equal columns that floats next to each other */
* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    width: 100%;
  }

.column {
    float: left;
    width: 30%;
    padding: 30px;

    
  }

  /* Style the images inside the grid */
.column iframe {
    opacity: 0.8;
    cursor: pointer;


  }
  
  .column iframe:hover {
    opacity: 1;
    transform: scale(1.1);
    transition:  all 0.2s ease-in;
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }


  
  /* Expanding image text */
.imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  

  @keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
  }