

{% from "macros/svgs.html" import moon, sun %}

<!DOCTYPE html>


<html lang="en" class="{{ 'dark-mode' if session.get('theme') == 'dark' }}">

<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1" />

   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/base.css')}}">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <script src="https://kit.fontawesome.com/e03887fb7f.js" crossorigin="anonymous"></script>

    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    
    <link rel="stylesheet"
    href="https://unpkg.com/ag-grid-community/styles/ag-grid.css"/>

    <link rel="stylesheet"
    href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css"/>

    {% block  header %}{% endblock  %}

    <!--
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    -->

    <title>{% block title %}kindnessBase{% endblock %}</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if user.is_authenticated %} 
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="guessAoK" href="/guessAoK">Guess</a>
          <a class="nav-item nav-link" id="listofAoK" href="/listofAoK">List</a>
          <a class="nav-item nav-link" id="edit" href="/edit">Edit</a>
          <a class="nav-item nav-link" id="aok-scrapper" href="/aok-scrapper">Scrap</a>
          <a class="nav-item nav-link" id="aok-model" href="/aok-model">Models</a>
          <a class="nav-item nav-link" id="chatbot" href="/chatbot">Chatbot</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="guessAoK" href="/guessAoK">Guess</a>
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
           <!-- <a class="nav-item nav-link" id="sign-out" href="/sign-up">Sign Up</a>
            <!-- <a class="nav-item nav-link" id="sign-out" href="/sign-up">Sign Up</a>-->
          {% endif %}
          
        </div>
    </div>

</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    
    {% if category == 'error' %}
      <div class="alert alert-danger alert-dismissable fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      {% endif %}
      
      {% if category == 'warning' %}
      <div class="alert alert-warning alert-dismissable fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      {% endif %}

      {% if category=='success' %}  
      <div class="alert alert-success alert-dismissable fade show" role="alert">  
        {{message}}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container">
{% block content%}
{% endblock %}
</div>



 <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  

 
<!--
  script type="text/javascript">$(document).ready(function(){$('table').DataTable({"pageLength": 50});});
</script>
-->


    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/index.js') }}"
    ></script>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

{% block scripts %}{% endblock %}

</body>
</html>