{% extends 'base.html' %} 
{% block title %}Edit AoKs{% endblock%}
{% block content%}

<br/>
<h1>Add Acts of Kindness</h1>

<form method='POST'>
<textarea name="aok" id='aok' class='form-control' placeholder="Enter act description"></textarea>
<input type="url"   id="mediaURL" name="mediaURL" placeholder="Media URL" class='form-control' style="margin-top:20px;"/>
<!--<button type="file" class="btn btn-primary">Add AoK</button>-->
<br/>
<div align='center'>
<button type="submit" class="btn btn-primary">Add AoK</button>
</div>
</form>

<br/>
<br/>
<div style="overflow-y:auto; height:600px;">

    {% for aok in user.acts %} 
    <div style="margin-bottom:3px;border:0.3mm solid lightgrey; box-sizing: border-box;padding: 10px;align-items:center;display: flex; flex-direction: row;" > 

            <button type="button" class="close" onClick="delete_AoK({{aok.id}})" style="margin-right:5px">
                <span aria-hidden="true">&times;</span>
            </button>
            
             {% for media in aok.getMediaLinks() %}
           
                <iframe frameborder="0"  onload="resizeIframe(this)" style="margin-right:5px"
                src="{{media.url}}">
                </iframe>  
           
            {% endfor %}
           
            <div style="overflow-wrap:break-word;word-wrap: break-word;">
            {{aok.act}}
            </div>
        
    </div>
    {% endfor%}

</div>

{% endblock%}


{% block scripts  %}

<script>
function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
  }

</script>

{% endblock  %}