{% extends 'base.html' %} 
{% block title %}Edit AoKs{% endblock%}
{% block content%}

<br/>
<h1>Add Acts of Kindness</h1>

<form method='POST'>
<textarea name="aok" id='aok' class='form-control' placeholder="Enter act description"></textarea>
<input type="url"   id="mediaURL" name="mediaURL" placeholder="Media URL" class='form-control' style="margin-top:20px;"/>
<!--<button type="file" class="btn btn-primary">Add AoK</button>-->
<br/>
<div align='center'>
<button type="submit" class="btn btn-primary">Add AoK</button>
</div>
</form>

<br/>
<br/>
<ul class="list-group list-group-flush" id="aoks">
    {% for aok in user.acts %} 
    <li class="list-group-item">{{aok.act}}
        <button type="button" class="close" onClick="delete_AoK({{aok.id}})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor%}


{% endblock%}