{% extends 'base.html' %}

{% block title %}Kindness Media{% endblock  %}


{% block content %}

<h1>Kindness Media</h1>

<div style="overflow-y:auto; height:600px;">

    {% for med in media %} 
    <div style="margin-bottom:5px;border:0.3mm solid lightgrey; box-sizing: border-box;padding: 10px;align-items:center;display: flex; flex-direction: row;" > 
    
        <iframe frameborder="0"  width="300px" height="150px" style="margin-right:5px"  src="{{med.url}}"></iframe>
        <a href="{{med.url}}" target="_blank">{{med.url}}</a>
    </div>
    {% endfor %}
</div>

{% endblock  %}


{% block scripts%}

{% endblock %}