{% extends 'base.html' %}

{% block header %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/media.css')}}">
{% endblock  %}


{% block title %}Kindness Media{% endblock  %}


{% block content %}

<h1 align="center">Kindness Media</h1>

<form method='POST'>
    <input type="url"   id="mediaURL" name="mediaURL" placeholder="Media URL... " class='form-control' style="margin-top:20px;"/>
    <input type="text"   id="mediaCategory" name="mediaCategory" placeholder="categories (e.g., family, school, social-media)... " class='form-control' style="margin-top:20px;"/>
    <!--<button type="file" class="btn btn-primary">Add AoK</button>-->
    <br/>
    <div align='center'>
    <button type="submit" class="btn btn-primary">Add Media</button>
    </div>
    </form>

<br/><br/> 
<hr style="border-width:3px">

<div id="card-container">

{% for med in media %} 
    <div class="card"> 
    
        
        {% if med.type.value=="Image" %}

        <img   src="{{med.url}}"></img>

        {% else %}

        <iframe   frameborder="0" class="responsive-iframe" src="{{med.url}}"></iframe>

        {% endif %}

        

        <div class="category_parent">
        {% for  cat in med.getCategories() %}
        <label class="category_tag">{{cat.name}}</label>
        {% endfor %}
        </div>

        <span onclick="delete_media({{med.id}})" class="closebtn">&times;</span>
        
    </div>
    {% endfor %}

</div>

<div class="card-actions">
    <button  id="#load-more">Load More</button>
    </div>


{% endblock  %}


{% block scripts%}

<script>
    $(document).ready(function(){
    $(function(){
        $(".card").slice(0, 6).show(); // select the first ten
        $("#load-more").click(function(e){ // click event for load more
            e.preventDefault();
            $(".card:hidden").slice(0, 6).show(); // select next 10 hidden divs and show them
            if($(".card:hidden").length == 0){ // check if any hidden divs still exist
                //alert("No more divs"); // alert if there are none left
                $("#load-more").prop('disabled', true);
            }
        });
    });
});

</script>
{% endblock %}